:root {
    font-size: 62,5%;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
}


body {
    background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
    display: grid;
    place-items: center;
    height: 100vh;
}

button {
    background-color: #7879F1;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;
    transition: background .3s;
}

button:hover {
    background-color: #282891;
}

.hide {
    display: none;
}

main {
    background: #FFFFFF;
    box-shadow: 0px .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);
 margin-bottom: -1.2rem;   
text-align: center;
}
/*
main h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

main p {
    font-family: 'DM Sans', sans-serif; 
}

main  input button {
    font-family: 'DM Sans', sans-serif;
}

form {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
    
    
}

h1 p {
    color: #343558;
}
p {
    opacity: 0.8;
}*/

input, button {
    border: none;
    padding: 1.6rem;
}

input {
    background-color: #DCE2E9;
    width: 4rem;
    border-radius: .4rem 0 0 .4rem;
}


/*screen2*/
h2 {
font-size: 2.4rem;
font-weight: normal;
margin-bottom: 3.3rem;
}

.screen2 button {
    border-radius: .4rem;
}